
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
body {
    font-family: 'Redressed', cursive;
    background-color: #fcf8e3;
}
/* .font-fam {
    font-family: 'Libre Franklin', sans-serif;
} */
